input.bottom-outline {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  /* background-color: #eee; */

  /* background-color: rgb(98, 223, 245); */
  color: blue;
}
.width-100 {
  width: 100%;
}

.RightAlign {
  text-align: right;
}

.CenterAlign {
  text-align: center;
}
