.notice-box {
  border: 2px solid black;
  text-align: justify;
  padding: 8px 10px;
  margin-top: 10px;
}

.text-align-center {
  text-align: center;
}

.alert-content {
  font-weight: bold;
  font-size: small;
  text-align: justify;
}
/* 
.input-field {
  display: inline-block;
  position: relative;
}

.input-field label {
  position: absolute;
  top: 25px;
} */

.wrapper-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.wrapper-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

.middle-input {
  width: 60%;
}
