.table-bottom {
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.width-50px {
  width: 50px;
}

.margin-2 {
  margin: 0px 2px !important;
}

.small-letter {
  font-size: 12px;
}

.small-input {
  margin-bottom: 1px !important;
  height: 15px;
}

.table-title {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}