.justify-content {
  text-align: justify;
}

.payment-box {
  width: 85%;
  text-align: left;
  margin: 7% auto;
}

.payment-box .margin-top-4 {
  margin-top: 4%;
}

.wrapper-space-around {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
