.header-wrapper {
  display: flex;
  /*flex-wrap: wrap;*/
  justify-content: space-between;
}

.content {
  margin: 12px auto;
  text-align: left;
}

.title {
  text-align: center;
}

p {
  margin: 0;
  padding: 0;
}
