.ImageOfCheckBox.Checked {
  /* background-image: url('../../../public/images/checked.png');
  background-repeat: no-repeat; */
}

.ImageOfCheckBox.UnChecked {
  /* background-image: 'images/checked.png'; */
}

.ImageOfCheckBox {
  /* background-color: blue; */
  border: 1px solid black;
  height: 100%;
}
