.WindowTable,
.WindowTable th,
.WindowTable td {
  font-size: 12px;
  border: 1px solid black;
  border-collapse: collapse;
  padding: 0px;
}

.WindowTable th,
.WindowTable td {
  text-align: center;
}

.WindowTable th {
  font-size: 18px;
  font-family: TimesNewRomanPS-BoldMT_4g;
}

.WindowTable th,
.WindowTable td * {
  text-align: center;
  height: 39px;
}

.WindowTable .CheckBoxCell {
  width: 39px;
}

/* .WindowTable tr {
  height: 39px;
} */

/* #form128_3 {
  z-index: 2;
  padding: 0px;
  position: absolute;
  left: 101px;
  top: 216px;
  width: 75px;
  height: 25px;
  color: rgb(0, 0, 0);
  text-align: left;
  background-color: rgb(255, 255, 255);
  border: none;
  font: normal 18px Arial, Helvetica, sans-serif;
} */

.width-10 {
  width: 10%;
}

.width-20 {
  width: 20%;
}
